<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規プロトタイプ投稿</h2>
      <%= form_with(model: @prototype, local: true) do |form| %>
        <div class="field">
          <%= form.label :title, "プロトタイプの名称" %><br />
          <%= form.text_field :title, class: "form__input", placeholder: "プロトタイプの名称" %>
        </div>

        <div class="field">
          <%= form.label :catch_copy, "キャッチコピー" %><br />
          <%= form.text_area :catch_copy, class: "form__textarea", placeholder: "キャッチコピー" %>
        </div>

        <div class="field">
          <%= form.label :concept, "コンセプト" %><br />
          <%= form.text_area :concept, class: "form__textarea", placeholder: "コンセプト" %>
        </div>

        <div class="field">
          <%= form.label :image, "プロトタイプの画像" %><br />
          <%= form.file_field :image, class: "form__file" %>
        </div>

        <div class="actions">
          <%= form.submit "保存する", class: "form__btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>